/* Write your code here. */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #0f172a;
  font-weight: bold;
}
.error{
  background-color: #ff0b37;
}
.information{
  background-color: #0b69ff;
}
.success{
  background-color: #2dca73;
}
.warning{
  background-color: #ffb800;
}
.